server:
  port: 9002
spring:
  application:
    name: nacos-provider
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.248.101:8848
#         server-addr: http://192.168.248.101:1111
management:
  endpoint:
    web:
      exposure:
        include: '*'