server:
    port: 9999
spring:
    application:
        name: cloud-gateway-service
    cloud:
        nacos:
            discovery:
                server-addr: 192.168.248.101:8848
        gateway:
            discovery:
                locator:
                    enabled: true #开启注册中心路由功能
            routes: # 路由
                - id: nacos-provider #路由ID，没有固定要求，但是要保证唯一，建议配合服务名
                  uri: http://localhost:9001/nacos-provider # 匹配提供服务的路由地址，已测试，nacos-provider换成其他乱七八糟的东西也能成功，证明应该是没有用的，应该是可以删除的
                  predicates: # 断言
                    - Path=/msb/** # 断言，路径相匹配进行路由